@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @apply bg-[#09090B] text-white font-sans;
}

/* Glassmorphism utilities */
.glass {
  @apply bg-white/10 backdrop-blur-xl border border-white/10;
}

html {
  scroll-behavior: smooth;
}

